<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-0">
        <p> 
          <b>Hello!</b> I am a seasoned data professional with over a decade of experience. 
          I hold a Post Graduate Diploma in Business Analytics from an esteemed business school ranked 8th in Asia. 
          I also hold six Microsoft Azure data certificates, which includes Azure Enterprise Data Analyst, Azure Data Scientist and Azure Data Engineer.
          </p>
          <p>
          My expertise is in data visualization, storytelling, data analytics and building end-to-end data solutions. 
          My passion for data and its ability to tell a story, derive insights and decision making is what led me to pursue a career in this field.
        </p>
        <hr class="dashed">
        <p> 
          As a data analyst, I specialize in gathering and interpreting data to extract valuable insights that can inform strategic decisions. 
          I am skilled in various data analysis techniques and tools, such as SQL, Python, and R.
        </p>  
        <br>
        <p>
          As a data engineer, I am responsible for the development and management of data wareshouse and build gold standard star schema model. 
          Frequently use tools such as Azure Synapse Analytics, Azure pipeline, Azure Repos, Azure pipeline and Release (CI CD).
        </p>
        <br>  
        <p>
          But perhaps my strongest skill is my ability to create compelling visualizations that effectively communicate complex data. 
          I use various data visualization tools such as MS Power BI, Tableau and RShiny to create clear, informative charts, graphs, and dashboards that help stakeholders make sense of the data.
        </p>
        <hr class="dashed">
        <p>  
          I am committed to staying up-to-date with the latest trends and advancements in the data industry, and 
          I enjoy collaborating with others to find innovative solutions to complex data challenges. Whether it's analyzing data to uncover trends or designing elegant data visualizations, I am passionate about using data to drive better decision-making and ultimately help organizations achieve their goals..</p>
        </p>
      </div>
      <!-- <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div> -->
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
