<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
			
			  <div class="col-md-3">
				  <h1>  5+ </h1>
				  <h3><div> Years of experience</div></h3>
			  </div>
			
		  <div class="col-md-3">
			<h1>  4 </h1>
			<h3><div> Average execution week</div></h3>
		  </div>
		  
		  <div class="col-md-3">
			  <h1>  82% </h1>
				  <h3><div> Success rate </div></h3>
		  </div>
		  
		  <div class="col-md-3">
			  <h1>  280 </h1>
				  <h3><div> Hours saved</div></h3>
		  </div>
</div>
    </div>
</section>
