<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Enclyx, Unlock the power of BI and Analytics!</h1>
						<p>
						<h3><b>Zero</b> fees charged, if you are unhappy with our services. No questions asked* </h3>
						</p>
						<p>
						<h3>We offer services on data analysis, data warehousing, interactive dashboards, and predictive modelling. </h3>
						</p>
						<hr>
						<p>
						<h4>Get 1 hour of free online consultation</h4>
						<h4>inqury@enclyx.com</h4>
						<h4>sales@enclyx.com</h4>
						</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/analytics.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
