<div id="landing">
  <div class="landing-title">
    <div class="profile-picture" style="width: {{site:profile_picture_size}}; height: {{site:profile_picture_size}};">
      <img src="{{site:profile_picture}}" alt="{{site.username}}'s Photo">
    </div> 
    <h1>Hi, I&#39;m
      <span class="highlight-title">{{site.username}}</span>,
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "scroll down for more."]'
      >
      </span>
    </h1> 
    <div class="landing-icons"> 
      {% if site.email != null %}
        <a class="social-link email" aria-label="My E-Mail" href="mailto:{{site.email}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}""></use>
            </svg>
          </div>
          <span class="label">E-Mail </span>
        </a>
      {% endif %}

      {% if site.github_username != null %}
        <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
          href="https://github.com/{{site.github_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">GitHub </span>
        </a>
      {% endif %}

      {% if site.codepen_username != null %}
        <a class="social-link" aria-label="My Codepen" target="_blank" rel="noreferrer"
          href="https://codepen.io/{{site.codepen_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#codepen" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">CodePen</span>
        </a>
      {% endif %}

      {% if site.dev_username != null %}
        <a class="social-link" aria-label="My DEV" target="_blank" rel="noreferrer"
          href="https://dev.to/{{site.dev_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#dev" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">DEV</span>
        </a>
      {% endif %}

      {% if site.linkedin_username != null %}
        <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank"
          rel="noreferrer" href="https://www.linkedin.com/in/{{site.linkedin_username}}"
        > 
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">LinkedIn</span>
        </a>
      {% endif %}

      {% if site.twitter_username != null %}
        <a class="social-link twitter" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://twitter.com/{{site.twitter_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Twitter</span>
        </a>
      {% endif %}
      
      {% if site.andela_username != null %}
        <a class="social-link andela" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://client.andela.com/talent/profile/85f02393-7f60-4b08-ae5d-752364031a98?_ga=2.171331939.297200818.1747018945-1929285281.1741785206&_gl=1*1l723z8*_gcl_au*MTYxNjUxOTc3OC4xNzQxNzg1MTQ4LjEzNDY2OTY3OTMuMTc0NjY5MzgxNC4xNzQ2NjkzODEz*_ga*MTkyOTI4NTI4MS4xNzQxNzg1MjA2*_ga_1SBBGYT8D7*czE3NDcwNTk1ODgkbzEwMSRnMSR0MTc0NzA1OTc0MSRqNTYkbDAkaDA.*_ga_9ZFR0H5J2S*czE3NDcwNTk1ODgkbzEwMiRnMSR0MTc0NzA1OTc0MSRqNTYkbDAkaDA."
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="40" height="40" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#andela" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Andela</span>
        </a>
      {% endif %}

      {% if site.andela_username != null %}
        <a class="social-link upwork" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://www.upwork.com/freelancers/~010f7c81e1e23f04a3"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="9" y="13" width="330" height="330" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#upwork" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">UpWork</span>
        </a>
      {% endif %}

        {% if site.youtube_handle != null %}
        <a class="social-link youtube" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://www.youtube.com/playlist?list=PLhca-ZzAz8yEcm_-Vfb927uFedb7ihx2_"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#youtube" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Youtube</span>
        </a>
      {% endif %}

    </div>
  </div>
</div>
